  <div class="event-card">
    <%= link_to event_path(event) do %>
    <div class="event-content">
      <h2>
        <%= event.name %>
      </h2>
      <div>
        <p>
          <%= event.location %>
        </p>

        <p>
          <%= l event.start_time, format: :date %>
          <br>
          <%= l event.start_time, format: :hour %>
        </p>
      </div>

      <p>
        <%= event.players.length %>/<%= event.max_players %> joueurs
      </p>

    </div>

<% end %>
  </div>
