  <div class="event-card">
    <%= link_to event_path(event) do %>
    <h2>
      <%= event.name %>
    </h2>

    <p>
      <%= event.location %>
    </p>

    <p>
      <%= event.start_time.strftime("%A %-d %B %Y %R") %>
    </p>

    <p>
      <%= event.players.length %>/<%= event.max_players %> joueurs
    </p>

<% end %>
  </div>
