<h1>Créer mon événement futsal</h1>

<%= form_with model: @event do |f| %>

  <div>
    <%= f.label :name, 'Nom de l\'événément' %>
    <div class="form-input">
      <%= f.text_field :name, value: "futsal by #{current_user.username}", autofocus: true, class: "form-field"  %>
    </div>
  </div>

  <div>
    <%= f.label :location,'Où ?' %>
    <div class="form-input">
      <%= f.text_field :location, placeholder: '13 By Puma', value: '13 By Puma', class: "form-field" %>
    </div>
  </div>

    <%= f.label :start_time, 'Quand ?' %>
    <% # Calcul du vendredi suivant
      next_friday = Time.now + ((5 - Time.now.wday) % 7).days
    %>
    <div class="form-input">
      <%= f.datetime_field :start_time, value: next_friday.strftime("%Y-%m-%dT%H:%M"), class: "form-field" %>
    </div>

    <%= f.label :max_players, 'Nombre de joueurs total ?' %>
    <div class="form-input">
      <%= f.number_field :max_players, value: 10, class: "form-field" %>
    </div>

    <%= f.label :price, 'Prix par joueur ?' %>
    <div class="form-input">
      <%= f.number_field :price, value: 10, class: "form-field" %>
    </div>

    <div class="form-submit">
      <%= f.submit 'Créer mon événement futsal', id: 'form-submit-btn' %>
    </div>

<% end %>
