<h1>
  <%= @event.name %>
</h1>

<%= render 'events/show/event-info', event: @event %>


<section id="teams-container">
  <% @event.teams.each_with_index do |team, i| %>

    <div class="team-<%= i %>">

      <h2 class="team-title">
        <%= team.name %>
      </h2>

      <%= turbo_frame_tag dom_id(team) do %>
        <%= render 'events/show/each-players', team: team, event: @event, event_player: @event_player %>
      <% end %>

    </div>

  <% end %>
</section>

<div class="text-center">
  <%= link_to event_path(@event), data: {turbo_method: :delete, turbo_confirm: "tu es sûr?"} do %>
    <button id="delete-btn">Annuler le futsal</button>
  <% end %>
</div>
