<h1>
  <%= @event.name %>
</h1>

<%= render 'events/show/event-info', event: @event %>


<section id="teams-container">
  <% @event.teams.each do |team| %>
    <div id="team-1">

      <h2 class="team-title">
        <%= team.name %>
      </h2>

      <% team.players.each do |player| %>
        <div class="player-card-1">
          <%= player.first_name %>
        </div>
      <% end %>

      <%= form_with model: [ @event, @event_player ], url: event_join_team_path(@event), turbo_method: :post do |f| %>
        <%= f.hidden_field :team_id, value: team.id %>
        <%= f.submit "Rejoindre #{team.name}" %>
      <% end %>
    </div>
  <% end %>
</section>

<%= link_to event_path(@event), data: {turbo_method: :delete}, turbo_confirm: "tu es sûr?" do %>
  <div>Annuler le futsal</div>
<% end %>
