<h1>
  <%= turbo_frame_tag 'edit-title' do %>
    <%= @event.name %>
    <%= link_to '✏️', edit_event_path(@event) %>
  <% end %>
</h1>

<%= render 'events/show/event-info', event: @event %>

<%= render 'events/show/teams-container', event: @event %>

<div class="text-center">
  <%= link_to event_path(@event), data: {turbo_method: :delete, turbo_confirm: "tu es sûr?"} do %>
    <button id="delete-btn">Annuler le futsal</button>
  <% end %>
</div>
