<section id="dark-overlay" class="d-none" data-action="click->navbar#open" data-navbar-target="dark">
</section>
<section id="menu-section" class="d-none close" data-navbar-target="menu">
  <ul id="menu-list">
    <li>
      <%= link_to events_path do %>
        <div class='link'>Accueil</div>
      <% end %>
    </li>

    <li>
      <%= link_to new_event_path do %>
        <div class='link'>Organiser un futsal</div>
      <% end %>
    </li>

    <li>
      <%= link_to events_path do %>
        <div class='link'>Invitation</div>
      <% end %>
    </li>

    <li>
      <%= link_to events_path do %>
        <div class='link'>Mes Amis</div>
      <% end %>
    </li>

    <%# Partial des buttons pour changer entre agent libre et privé %>
    <%= render 'users/free_agent', user: current_user %>

    <li>
      <%= link_to edit_user_registration_path do %>
        <div class='link'>Paramètres du compte</div>
      <% end %>
    </li>

    <li>
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
        <div class='link'>Déconnexion</div>
      <% end %>
    </li>

  </ul>
</section>
