<div class="event-info">
  <%= @event.location %>
</div>

<div class='event-info'>
  <%= l @event.start_time, format: :date %> <br>
  <%= l @event.start_time, format: :hour %>
</div>

<div class='event-info'>
  <%= number_to_currency(@event.price, unit: "€", separator: ",", delimiter: " ", format: "%n %u") %> / joueur
</div>

<div class="container-flex-center">
  <div class='event-info'>
    <%= @event.players.length %>
  </div>

  <div class="event-info-slash">
    /
  </div>

  <div class="event-info">
    <%= @event.max_players %> joueurs
  </div>
</div>

<div class='event-info'>
  créé par <%= @event.author.username %>
</div>
